body {
  background-color: #f7f7f7;
}

#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 80px;
}

.content-container {
  width: 350px;
  min-height: 250px;
  background-color: #fff;
  border: 1px solid gainsboro;
  border-radius: 5px;
  padding: 10px;
}

.app-header .title {
  text-transform: uppercase;
  text-align: center;
}

.app-header {
  padding: 8px;
}

.list-header,
.list-not-available {
  padding: 4px 10px 10px 10px;
}

.list-header .title {
  font-size: 21px;
  color: #29aed6;
  padding: 12px 0 0;
}

.list-item {
  padding: 8px;
  border-top: 1px solid gainsboro;
}

.list-item p {
  padding: 4px 0;
  line-height: 1.5rem;
}

.list-item .title {
  padding: 8px 0 12px;
}

.list-item a,
.list-wrapper a {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;
  margin-bottom: 20px;
  text-decoration: none;
  color: #29aed6;
  font-weight: bold;
  font-size: 13px;
}

.example-details .rating {
  display: flex;
  justify-content: flex-start;
  padding: 10px 0 10px 0;
}

.example-details .title {
  padding: 8px 0 12px;
}

.example-details {
  padding: 4px 10px 10px 10px;
}

.example-details .description-box {
  padding: 12px 0;
  border-top: 1px solid gainsboro;
}

.example-details p {
  line-height: 22px;
}

.example-title {
  margin: 2rem 0;
}

a:visited {
  color: #29aed6;
}

a[href] {
  color: #29aed6;
  text-decoration: none;
  padding: 10px 0;
}
